@import "bootstrap";

/* miscellaneous */
.debug_dump {
  width: 80%;
  margin: 45px;
}

/* header */
header {
  margin-bottom: 15px;
}
/* footer */
footer small {
  margin: 0 auto;
}

footer ul {
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

footer li.title {
  font-size: medium;
  color: rgba(255, 255, 255, 0.5);
}

footer li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

/* body */
.user-show li.title {
  background-color: #333;
  color: #eee;
}

.user-show li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.user-show li a:hover {
  text-decoration: underline;
}

.user-show .title {
  background-color: #333;
  color: #eee;
}

.user-show .main-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
}