@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* all */
body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial Black", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    sans-serif;
  font-weight: bold;
}

nav {
  background-color: #000;
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-black:hover {
  color: #f5c518;
}

/* miscellaneous */
.debug_dump {
  width: 80%;
  margin: 45px;
}

/* header */
header.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active:hover > .nav-link {
  color: #f5c518;
}

.search-form {
  padding: 15px 0;
  background-color: #eee;
}

/* footer */
footer small {
  margin: 0 auto;
}

footer ul {
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

footer li.title {
  font-size: medium;
  color: rgba(255, 255, 255, 0.5);
}

footer li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

/* sign up */
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* sign in*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* top */
.top-wrapper {
  background-color: #f5c518;
}

.top-content h2 {
  font-weight: bold;
}

.top-content h2 > span {
  font-size: medium;
}

/* movie_card */
.movie-links {
  background-color: rgba(245, 197, 24, 0.5);
  position: relative;
}

.movie-links.active a {
  background-color: rgba(245, 197, 24, 0.9);
  color: rgba(#000, 0.7);
}

.movie-links a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: rgba(#000, 0.4);
}

.movie-links a:hover {
  background-color: rgba(#f5c518, 0.8);
  color: rgba(#000, 0.7);
  text-decoration: none;
}

.movie-rate p {
  user-select: none;
  color: rgba(#000, 0.7);
}

.star-color {
  color: #f5c518;
}
