@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* all */
body {
  background-color: #f5f5f5;
}

label {
  margin-bottom: 0;
}
/* miscellaneous */
.debug_dump {
  width: 80%;
  margin: 45px;
}

/* header */
.search-form {
  padding: 15px 0;
  background-color: #d6d6d6;
}

/* footer */
footer small {
  margin: 0 auto;
}

footer ul {
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

footer li.title {
  font-size: medium;
  color: rgba(255, 255, 255, 0.5);
}

footer li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

/* sign up */
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* sign in*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* top */
.top-wrapper {
  background-image: url("/assets/top.jpg");
  background-position: center center;
}

.top-text {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.1);
}