h1 管理者ホーム画面
= link_to '映画一覧', admin_movies_path, class: 'nav-link'
= link_to '映画監督一覧', admin_directors_path, class: 'nav-link'
= link_to 'ジャンル一覧', admin_genres_path, class: 'nav-link'
= link_to '脚本家一覧', admin_screenwriters_path, class: 'nav-link'
= link_to 'キャスト一覧', admin_casts_path, class: 'nav-link'
= link_to 'ユーザ一覧', users_path, class: 'nav-link'
= link_to 'レビュー一覧', reviews_path, class: 'nav-link'